<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyOwnApplication2</display-name>
  <welcome-file-list>
    <welcome-file>Mainpage1.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUserDetails</display-name>
    <servlet-name>ShowUserDetails</servlet-name>
    <servlet-class>ShowUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUserDetails</servlet-name>
    <url-pattern>/ShowUserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllUserDetails</display-name>
    <servlet-name>ShowAllUserDetails</servlet-name>
    <servlet-class>ShowAllUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllUserDetails</servlet-name>
    <url-pattern>/ShowAllUserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserNameUpdate</display-name>
    <servlet-name>UserNameUpdate</servlet-name>
    <servlet-class>UserNameUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserNameUpdate</servlet-name>
    <url-pattern>/UserNameUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserPasswordUpdate</display-name>
    <servlet-name>UserPasswordUpdate</servlet-name>
    <servlet-class>UserPasswordUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPasswordUpdate</servlet-name>
    <url-pattern>/UserPasswordUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserMobileUpdate</display-name>
    <servlet-name>UserMobileUpdate</servlet-name>
    <servlet-class>UserMobileUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserMobileUpdate</servlet-name>
    <url-pattern>/UserMobileUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAddressUpdate</display-name>
    <servlet-name>UserAddressUpdate</servlet-name>
    <servlet-class>UserAddressUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAddressUpdate</servlet-name>
    <url-pattern>/UserAddressUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserCityUpdate</display-name>
    <servlet-name>UserCityUpdate</servlet-name>
    <servlet-class>UserCityUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCityUpdate</servlet-name>
    <url-pattern>/UserCityUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserStateUpdate</display-name>
    <servlet-name>UserStateUpdate</servlet-name>
    <servlet-class>UserStateUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserStateUpdate</servlet-name>
    <url-pattern>/UserStateUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserEmailUpdate</display-name>
    <servlet-name>UserEmailUpdate</servlet-name>
    <servlet-class>UserEmailUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEmailUpdate</servlet-name>
    <url-pattern>/UserEmailUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveYourAccount</display-name>
    <servlet-name>RemoveYourAccount</servlet-name>
    <servlet-class>RemoveYourAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveYourAccount</servlet-name>
    <url-pattern>/RemoveYourAccount</url-pattern>
  </servlet-mapping>
</web-app>